.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__v4Sz {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__v4Sz > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__v4Sz > :global(.__wab_flex-container) > *,
.freeBox__v4Sz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v4Sz > :global(.__wab_flex-container) > picture > img,
.freeBox__v4Sz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v4Sz {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v4Sz > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v4Sz > :global(.__wab_flex-container) > *,
  .freeBox__v4Sz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__v4Sz > :global(.__wab_flex-container) > picture > img,
  .freeBox__v4Sz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__qErOr {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__qErOr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__qErOr > :global(.__wab_flex-container) > *,
.freeBox__qErOr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qErOr > :global(.__wab_flex-container) > picture > img,
.freeBox__qErOr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__dmnre {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.text__sa9 {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__e23B {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__sXjaZ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ykRqJ:global(.__wab_instance) {
  position: relative;
}
.svg__np3C {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zUtqB {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__y9OIt {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__y9OIt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__y9OIt > :global(.__wab_flex-container) > *,
.freeBox__y9OIt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y9OIt > :global(.__wab_flex-container) > picture > img,
.freeBox__y9OIt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__kZ98P {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__jhf8X {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__jhf8X > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__jhf8X > :global(.__wab_flex-container) > *,
.freeBox__jhf8X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jhf8X > :global(.__wab_flex-container) > picture > img,
.freeBox__jhf8X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__jc0CS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__hMUxX {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__n7Uch:global(.__wab_instance) {
  position: relative;
}
.svg__pdawY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text___2Poda {
  height: auto;
}
.svg__bF4C {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ost0V:global(.__wab_instance) {
  position: relative;
}
.svg__dxyKb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text___9I5T2 {
  height: auto;
}
.svg__dNzEc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__zsBfb {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__zsBfb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__zsBfb > :global(.__wab_flex-container) > *,
.freeBox__zsBfb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zsBfb > :global(.__wab_flex-container) > picture > img,
.freeBox__zsBfb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__rk5RD {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__kbNYj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__nH57G {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__nH57G > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__nH57G > :global(.__wab_flex-container) > *,
.freeBox__nH57G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nH57G > :global(.__wab_flex-container) > picture > img,
.freeBox__nH57G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__onr7Z {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__h6C17 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__qzMyP:global(.__wab_instance) {
  position: relative;
}
.svg__tlYle {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7Mhfu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__h3Bjq:global(.__wab_instance) {
  position: relative;
}
.svg__egbk9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kt6S5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__z0Jp:global(.__wab_instance) {
  position: relative;
}
.svg__wZBuC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ciQrl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___0Vlrq {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox___0Vlrq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___0Vlrq > :global(.__wab_flex-container) > *,
.freeBox___0Vlrq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Vlrq > :global(.__wab_flex-container) > picture > img,
.freeBox___0Vlrq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__qIPut:global(.__wab_instance) {
  position: relative;
}
.svg__n6ElH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__b03H7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___1Mrb9:global(.__wab_instance) {
  position: relative;
}
.svg__kjTs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sfIim {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__uEIvI:global(.__wab_instance) {
  position: relative;
}
.svg__e17Bq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vXI {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.copyrightSocialLanguage:global(.__wab_instance) {
  position: relative;
}
