.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  min-width: 0;
}
.freeBox___7IVd6 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  flex-column-gap: 0px;
  position: relative;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  min-width: 0;
  padding: 32px;
}
.svg__idNku {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7Jacm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__uwmjI {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__uwmjI > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__uwmjI > :global(.__wab_flex-container) > *,
.freeBox__uwmjI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uwmjI > :global(.__wab_flex-container) > picture > img,
.freeBox__uwmjI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.searchButtonsearchOpen:global(.__wab_instance) {
  min-width: 200px;
}
.svg__uZlY1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__kJpl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.searchInput:global(.__wab_instance) {
  position: relative;
  max-width: 200px;
  display: none;
}
.searchInputsearchOpen:global(.__wab_instance) {
  display: flex;
}
.svg__nHe17 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__mtQq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___9Cx6G {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__hcQej {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__gazUv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__hCwqF {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text {
  height: auto;
  width: auto;
}
.svg__w1Yp5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
